<!DOCTYPE html>
<html>
<head>
   <title>Affichage des Posts</title>
    {% stylesheets '@BlogBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
    {{ app.request.query.get("tata") }}

    {% block title %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>

{% javascripts '@BlogBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>